.SpotifyContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
}

.ListItem {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 4em;
}

.MusicTitle {
  color: white;
  font-size: 5em;
  position: relative;
  top: .5em;
  font-family: korolev, sans-serif;
}

@media (max-width: 600px) {
  .SpotifyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: red solid 1px;
    height: 100%;
  }

  .ListItem {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    position: relative;
    right: 1.75em;
  }
}