.AboutList {
  display: flex;
  border: red solid 1px;
  width: 60vw;
  line-height: 5vh;
  color: white;
}

.About {
  text-align: center;
  color: white;
}

.Michelle {
  width: 25vw;
  height: 60vh;
  margin: 0 0 0 5em;
}
