
.MainNewSongCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newButton {
  width: 20vw;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0);
}

.MickiImg{
  width: 50vw;
  height: 75vh;
  margin: 5vh 0 0 0;
}