* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.MainNewSongCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newButton {
  width: 20vw;
  height: 7vh;
  background-color: rgba(255, 255, 255, 0);
  outline-width: thick;
  outline-style: solid;
  outline-color: white;
  color: white;
}

.newButton:hover {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.newButton:focus {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.MickiImg {
  width: 50vw;
  height: 75vh;
  margin: 5vh 0 0 0;
}
