.Links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin:  -1em 0 -20em 0;
  border: red 1px solid;
  z-index: 1;
}

.MickiImg {
  width: 15%;
  height: 15%;
  filter: grayscale(1);
}

.MainMicki {
  width: 100%;
  height: 100%;
  z-index: -1;
  float: right;
}
