.Links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 60%;
  max-width: 100%;
  z-index: 1;
  background-repeat: none;
  font-size: 2em;
  color: white;
  text-align: start;
  font-family: gotham-book, sans-serif;
}

.MickiImg {
  width: 15%;
  height: 15%;
  filter: grayscale(1);
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    rgba(29, 29, 29, 100),
    rgba(255, 255, 255, 0) 85%
  );
  background-repeat: none;
}

.Header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(29, 29, 29, 100),
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 5;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

a:active,
a:visited,
a:link,
a:hover {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .Links {
    display: flex;
    width: 100em;
    justify-content: space-evenly;
    z-index: 1;
    color: white;
    font-family: gotham-book, sans-serif;
    font-size: 50%;
  }

  .MickiImg {
    width: 15%;
    height: 15%;
    filter: grayscale(1);
    z-index: 1;
    background-image: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 100),
      rgba(255, 255, 255, 0) 85%
    );
    background-repeat: none;
  }

  .Header {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-image: linear-gradient(
      to bottom,
      rgba(29, 29, 29, 100),
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 5;
  }

  .scrolled {
    position: fixed;
    top: 0;
    left: 0;
  }

  a:active,
  a:visited,
  a:link,
  a:hover {
    color: white;
    text-decoration: none;
  }
}
