* {
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 29, 29);
}
