.NewsContainer {
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
  width: 100%;
  padding: 3em 0 0 3em;
}

.ComponentTitle {
    color: white;
    margin: .75em 0 0 0;
    font-size: 5em;
}

.BioContainer {
  display: flex;
  flex-direction: column;
  color: white;
}

.Bio {
  height: 23vh;
  width: 30vw;
  text-align: center;
  padding: 0.5em;
  overflow: auto;
  font-size: 1.2em;
}

.MickiImg {
  height: 30em;
  width: auto;
  border: solid 5px rgb(255, 255, 255);
  padding: 1.5em;
}

.Title {
  font-size: 2em;
  width: 5em;
  font-size: 5em;
  margin: 0 0 0 1em;
  align-self: center;
}

.ListenButton {
  width: 20vw;
  height: 7vh;
  margin: 5em 0 0 6.5em;
  background-color: rgba(255, 255, 255, 0);
  outline-width: thick;
  outline-style: solid;
  outline-color: white;
  color: white;
}

.ListenButton:hover {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.ListenButton:focus {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}
