* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.VideoComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
}

.VideoContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.TextContainer {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  font-size: 2em;
  word-wrap: break-word;
  width: 16vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: metro-normal, sans-serif;
}

.VideoTitle {
  font-size: 5em;
  position: relative;
  top: 0.5em;
  font-family: korolev, sans-serif;
}

.MickiButton {
  width: 20vw;
  height: 6.5vh;
  background-color: rgba(255, 255, 255, 0);
  outline-width: 50%;
  outline-style: solid;
  outline-color: white;
  color: white;
  position: relative;
  font-size: 0.6em;
  letter-spacing: 0.5em;
  font-family: gotham-book, sans-serif;
}

.MickiButton:hover {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.MickiButton:focus {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.ReactPlayerContainer{
  position: relative;
  width: 55%;
  height: 75%;
}

@media (max-width: 600px) {
  .VideoComponent {
    display: flex;
    flex-direction: column;
  }

  .VideoContainer {
    display: flex;
    flex-direction: column;
  }

  .TextContainer {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    font-size: 1.25em;
    word-wrap: break-word;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: metro-normal, sans-serif;
  }

  .VideoTitle {
    text-align: center;
    color: white;
    width: 80%;
    font-size: 2.5em;
    font-family: korolev, sans-serif;
  }

  .MickiButton {
    width: 80%;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    top: 1em;
    font-size: 0.6em;
    letter-spacing: 0.5em;
    font-family: gotham-book, sans-serif;
  }

  .MickiButton:focus {
    background-color: rgba(255, 255, 255, 100);
    color: black;
  }

  .ReactPlayerContainer{
    position: relative;
    width: 100%;
    height: 55%;
  }
}
