* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.SMedia {
  width: auto;
  height: 4em;
  margin: 0 1.5em 0 0;
}

.Mediabar {
  display: flex;
  width: 50vw;
  margin: 20em 0 0 18em;
  position: relative;
  top: 10em;
}

.OtherSMedia {
  width: auto;
  height: 4em;
  filter: invert(1);
  margin: 0 1.5em 0 0;
}

.SocialMedia {
  display: flex;
  flex-direction: column;
  background-image: url("/mainmichellepic.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 99vw;
}

.CurrentSong {
  position: absolute;
  top: 37em;
  left: 27.5em;
}

.Twitter {
  width: auto;
  height: 4em;
  filter: grayscale(100%);
  margin: 0 1.5em 0 0;
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }

  .SocialMedia {
    height: 30vh;
  }

  .SMedia {
    width: auto;
    height: 1em;
    margin: 0 1.5em 0 0;
  }

  .Mediabar {
    display: flex;
    width: 50vw;
    position: relative;
    top: -12em;
    right: 15em;
  }

  .OtherSMedia {
    width: auto;
    height: 1em;
    filter: invert(1);
    margin: 0 1.5em 0 0;
  }

  .CurrentSong {
    position: absolute;
    top: 10em;
    left: 10em;
  }

  .Twitter {
    width: auto;
    height: 1em;
    filter: grayscale(100%);
    margin: 0 1.5em 0 0;
  }

  .CurrentSong {
    position: absolute;
    top: 10em;
    left: 6em;
  }
}
