* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vh;
  margin: 0 0 0 0;
  color: white;
}

.InnerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30vw;
  height: 5vh;
}

.Connect {
  font-family: korolev, sans-serif;
}

.Text {
  text-align: center;
  width: 16vw;
}

.Subscribe {
  width: 8.5em;
  height: 1.35em;
  font-size: 2em;
  margin: 0.12em 0 0 0;
  background-color: rgba(255, 255, 255, 0);
  outline-width: 50%;
  outline-style: solid;
  outline-color: white;
  color: white;
  letter-spacing: 0.42em;
  font-family: gotham-book, sans-serif;
}

.Subscribe:hover {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.newButton:focus {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}
