* {
  margin: 0;
  padding: 0;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vh;
  margin: 0 0 0 0;
  color: white;
}

.InnerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
  height: 5vh;
  border: red solid 1px;
}

.Text {
  text-align: center;
  width: 19.5vw;
  margin: 0 8em 0 0;
}

.Subscribe {
  width: 35%;
  background-color: rgba(255, 255, 255, 0);
  outline-width: thick;
  outline-style: solid;
  outline-color: white;
  color: white;
}

.Subscribe:hover{
  background-color: rgba(255, 255, 255, 100);
  color: black;
}

.newButton:focus {
  background-color: rgba(255, 255, 255, 100);
  color: black;
}